<!DOCTYPE html>
<html lang="{{ .Site.Language }}" dir="{{ .Site.Language.LanguageDirection | default "ltr" }}">
    <head>
        {{ partial "head.html" . }}

        {{ with resources.Get "css/tabs.css" }}
            {{ $css := . | resources.Minify | resources.Fingerprint }}
            <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
        {{ end }}
    </head>

    {{ block "body" . }}
        <body>
    {{ end }}
    
        <div class="container">
            {{ partial "header.html" . }}

            {{ block "main" . }}{{ end }}

            {{ block "footer" . }}
                {{ partial "footer.html" . }}
            {{ end }}
        </div>

        {{ partial "javascript.html" . }}

        {{ with resources.Get "js/tabs.js" }}
            {{ $js := . | resources.Minify | resources.Fingerprint }}
            <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>
        {{ end }}
    </body>
</html>
